body{
    background-color: cadetblue;
}
span{
    font-size:45px;
    letter-spacing: 100px;
    border-width: 5px;
    border-color: blue;
    border-radius: 3px;
}
h2{
    font-family: sans-serif;
}
h1{
    font-family:monospace;
    font-size: 50px;
}
button{
    background-color: rgb(6, 186, 186);
    border-width: 3px;
    border-color: rgb(18, 186, 130);
    border-radius: 5px;
    font-size: 30px;
}